In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [395]:
train=pd.read_csv('Train.csv')
test=pd.read_csv('Test.csv')
sample=pd.read_excel('Sample_Submission.xlsx')

In [257]:
train.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f19,f20,f21,f22,f23,f24,f25,f26,f27,grade
0,1.848564,-0.26425,-0.461423,0.409400,1.305455,2.329398,0.370965,0.090167,0.107958,0.0,...,0.085505,0.233285,-1.080663,0.443257,-0.406121,-0.687687,0.271886,3.727218,0.102129,2
1,-0.825098,-0.26425,3.032397,-2.442599,1.305455,-0.276144,0.370965,0.090167,0.107958,0.0,...,0.085505,0.233285,-1.080663,-0.232546,-0.406366,-0.687687,0.271886,-0.232472,0.102129,4
2,1.848564,-0.26425,-0.461423,0.409400,1.305455,2.329398,0.370965,0.090167,0.107958,0.0,...,0.085505,0.233285,0.925358,1.459782,1.221876,1.877777,0.271886,-0.232472,0.102129,2
3,0.511733,-0.26425,-0.461423,0.409400,-0.525726,-0.276144,0.370965,0.090167,0.107958,0.0,...,0.085505,0.233285,0.925358,-0.008030,-0.406366,1.504523,0.271886,-0.232472,0.102129,2
4,-0.825098,-0.26425,-0.461423,0.409400,-0.525726,-0.276144,0.370965,0.090167,0.107958,0.0,...,0.085505,0.233285,0.925358,-0.573268,-1.164793,1.877777,0.271886,-0.232472,0.102129,2

In [258]:
test.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f18,f19,f20,f21,f22,f23,f24,f25,f26,f27
0,-0.837812,-0.273636,1.276580,0.463262,-0.585142,-0.24287,0.349804,0.12356,0.166795,0.06143,...,0.197642,0.06143,0.27735,0.886135,-0.568935,1.100428,-0.244589,0.229718,-0.217109,0.087039
1,2.078087,-0.273636,-0.496119,0.463262,-2.438092,-0.24287,0.349804,0.12356,0.166795,0.06143,...,-5.059644,0.06143,0.27735,0.886135,0.504299,-0.434268,-0.244040,0.229718,-0.217109,0.087039
2,-0.837812,-0.273636,1.276580,0.463262,-0.585142,-0.24287,0.349804,0.12356,0.166795,0.06143,...,0.197642,0.06143,0.27735,-1.128496,-0.568935,-0.434268,-0.662763,0.229718,-0.217109,0.087039
3,-0.837812,-0.273636,-0.496119,0.463262,1.267808,-0.24287,-2.858743,0.12356,0.166795,0.06143,...,-5.059644,0.06143,0.27735,-1.128496,-0.449819,-1.918647,-0.662763,0.229718,-0.217109,0.087039
4,-0.837812,-0.273636,-0.496119,0.463262,-0.585142,-0.24287,-2.858743,0.12356,0.166795,0.06143,...,0.197642,0.06143,0.27735,-1.128496,-0.568935,-0.434268,-0.662763,0.229718,-0.217109,0.087039

In [259]:
train.shape ,  test.shape

((620, 29), (266, 28))

In [260]:
train.describe()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f19,f20,f21,f22,f23,f24,f25,f26,f27,grade
count,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,620.0,...,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,6.200000e+02,620.000000
mean,-1.344802e-16,6.596874e-16,3.697759e-17,6.503758e-16,-9.454803e-17,1.146037e-16,1.577591e-16,-2.734820e-16,6.083843e-17,0.0,...,1.148947e-15,1.893647e-16,-1.633102e-16,-9.383175e-17,-4.297638e-18,2.087936e-16,-2.721837e-17,-2.615291e-16,-1.763822e-17,2.033871
std,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,0.0,...,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,1.000807e+00,0.630779
min,-8.250977e-01,-2.642501e-01,-4.614228e-01,-2.442599e+00,-2.356907e+00,-2.761441e-01,-2.695676e+00,-1.109054e+01,-1.327888e+01,0.0,...,-1.316779e+01,-4.286607e+00,-1.080663e+00,-1.079838e+00,-1.899472e+00,-6.876869e-01,-4.914855e+00,-2.324721e-01,-1.572780e+01,0.000000
25%,-8.250977e-01,-2.642501e-01,-4.614228e-01,4.093999e-01,-5.257260e-01,-2.761441e-01,3.709645e-01,9.016696e-02,1.079584e-01,0.0,...,8.550514e-02,2.332847e-01,-1.080663e+00,-6.838333e-01,-4.063661e-01,-6.876869e-01,2.718856e-01,-2.324721e-01,1.021286e-01,2.000000
50%,-3.794874e-01,-2.642501e-01,-4.614228e-01,4.093999e-01,-5.257260e-01,-2.761441e-01,3.709645e-01,9.016696e-02,1.079584e-01,0.0,...,8.550514e-02,2.332847e-01,9.253580e-01,-4.593178e-01,-4.061213e-01,-3.659525e-01,2.718856e-01,-2.324721e-01,1.021286e-01,2.000000
75%,5.117331e-01,-2.642501e-01,-4.614228e-01,4.093999e-01,1.305455e+00,-2.761441e-01,3.709645e-01,9.016696e-02,1.079584e-01,0.0,...,8.550514e-02,2.332847e-01,9.253580e-01,4.432571e-01,1.160673e+00,-2.870961e-01,2.718856e-01,-2.324721e-01,1.021286e-01,2.000000
max,2.294174e+00,4.920404e+00,3.032397e+00,4.093999e-01,1.305455e+00,5.607339e+00,3.709645e-01,9.016696e-02,1.079584e-01,0.0,...,8.550514e-02,2.332847e-01,9.253580e-01,3.150982e+00,1.833906e+00,1.877777e+00,2.718856e-01,4.519156e+00,1.021286e-01,4.000000

In [396]:
train['grade'].value_counts()

2    472
1     68
3     47
4     27
0      6
Name: grade, dtype: int64

In [397]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(train.grade.values)

In [398]:
y=train['grade']

In [399]:
train.drop('grade',axis=1,inplace=True)

In [400]:
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler()
X_ros, y_ros = ros.fit_sample(train, y)
print('Original dataset shape %s' % Counter(y_ros))

Original dataset shape Counter({2: 472, 4: 472, 3: 472, 1: 472, 0: 472})

In [401]:
x_train, x_valid, y_train, y_valid = train_test_split(X_ros, y_ros, 
                                                  stratify=y_ros, 
                                                  random_state=1234, 
                                                  test_size=0.20, shuffle=True)

In [402]:
from sklearn.linear_model import LogisticRegression
lc=LogisticRegression(C=10)
lc.fit(x_train,y_train)

C:\Users\hp\Anaconda3\3.7\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [403]:
lc_cv_pred=lc.predict_proba(x_valid)

In [404]:
print(log_loss(y_valid,lc_cv_pred))

0.18805877561469617

In [405]:
lc_pred=lc.predict_proba(test)

In [406]:
sample=pd.DataFrame(lc_pred)

In [407]:
sample.head()

              0             1             2             3             4
0  2.454872e-15  1.145077e-02  9.880788e-01  2.793950e-09  4.703938e-04
1  6.960879e-13  4.355027e-04  2.066255e-04  9.993579e-01  2.978592e-20
2  1.333133e-09  2.911180e-03  9.963248e-01  6.264168e-07  7.633973e-04
3  7.336179e-08  5.068638e-17  5.169644e-13  9.999999e-01  7.146983e-09
4  1.246821e-05  4.665575e-04  6.707780e-01  3.287430e-01  5.222168e-11

In [224]:
sample.to_excel("sample.xlsx", index = False)

In [408]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(max_depth=19,criterion='entropy',n_estimators=149)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=19, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=149,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [409]:
rf_cv_pred=rf.predict_proba(x_valid)

In [410]:
print(log_loss(y_valid,rf_cv_pred))

0.022968898338383788

In [411]:
rf_pred=rf.predict_proba(test)

In [412]:
sample=pd.DataFrame(rf_pred)
sample.head()

          0         1         2         3         4
0  0.000000  0.000000  1.000000  0.000000  0.000000
1  0.000000  0.013423  0.000000  0.986577  0.000000
2  0.000000  0.000000  1.000000  0.000000  0.000000
3  0.013423  0.013423  0.093960  0.872483  0.006711
4  0.000000  0.000000  0.966443  0.033557  0.000000

In [545]:
import xgboost
from xgboost import XGBClassifier
xgb=XGBClassifier(max_depth=50,base_score=0.5,learning_rate=0.2,n_estimators=350)
xgb.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=50,
              min_child_weight=1, missing=None, n_estimators=350, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [546]:
xgb_cv_pred=xgb.predict_proba(x_valid)

In [547]:
from sklearn.metrics import log_loss
print(log_loss(y_valid,xgb_cv_pred))

0.012293112237414989

In [548]:
xgb_pred=xgb.predict_proba(test)

In [549]:
sample=pd.DataFrame(xgb_pred)
sample.head()

          0         1         2         3         4
0  0.000024  0.000074  0.999865  0.000009  0.000029
1  0.000032  0.001481  0.000248  0.998173  0.000066
2  0.000024  0.000041  0.999912  0.000009  0.000014
3  0.000045  0.000022  0.000787  0.999101  0.000046
4  0.000029  0.000050  0.995880  0.004025  0.000016

In [550]:
sample.to_excel("sampl.xlsx", index = False)

In [554]:
from sklearn.ensemble import BaggingClassifier
bg=BaggingClassifier(n_estimators=20)
bg.fit(x_train,y_train)

BaggingClassifier(base_estimator=None, bootstrap=True, bootstrap_features=False,
                  max_features=1.0, max_samples=1.0, n_estimators=20,
                  n_jobs=None, oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [555]:
bg_cv_pred=bg.predict_proba(x_valid)

In [556]:
print(log_loss(y_valid,bg_cv_pred))

0.008916139301743582

In [557]:
bg_pred=bg.predict_proba(test)

In [558]:
sample=pd.DataFrame(rf_pred)
sample.head()

          0         1         2         3         4
0  0.000000  0.000000  1.000000  0.000000  0.000000
1  0.000000  0.013423  0.000000  0.986577  0.000000
2  0.000000  0.000000  1.000000  0.000000  0.000000
3  0.013423  0.013423  0.093960  0.872483  0.006711
4  0.000000  0.000000  0.966443  0.033557  0.000000

In [559]:
sample.to_excel("sampl.xlsx", index = False)

In [585]:
from sklearn.ensemble import VotingClassifier
from sklearn.naive_bayes import GaussianNB
clf1 = LogisticRegression(C=10,multi_class='ovr', random_state=1234)
clf2 = RandomForestClassifier(n_estimators=149, random_state=1234,max_depth=19)
clf3 = XGBClassifier(max_depth=50,base_score=0.5,learning_rate=0.2,n_estimators=350)
vc=VotingClassifier(estimators=[('lr', clf1), ('rf', clf2), ('xgb', clf3)],voting='soft',weights=[2,4,5])
vc.fit(x_train,y_train)

C:\Users\hp\Anaconda3\3.7\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=10, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='ovr', n_jobs=None,
                                                 penalty='l2',
                                                 random_state=1234,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False)),
                             ('rf',
                              RandomForestClassifier(bootstrap=True,
                                                     ccp_alpha=0.0,
                                                     class_weight=None,
                                                     crit...
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            learning_rate=0.2, max_delta_step=0,
                                            max_depth=50, min_child_weight=1,
                                            missing=None, n_estimators=350,
                                            n_jobs=1, nthread=None,
                                            objective='binary:logistic',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=[2, 4, 5])

In [586]:
vc_cv_pred=vc.predict_proba(x_valid)

In [587]:
print(log_loss(y_valid,vc_cv_pred))

0.03968366186263055

In [588]:
vc_pred=vc.predict_proba(test)

In [589]:
sample=pd.DataFrame(vc_pred)
sample.head()

          0         1         2         3         4
0  0.000011  0.004316  0.995558  0.000004  0.000111
1  0.000015  0.000999  0.005097  0.993859  0.000030
2  0.000011  0.000436  0.999217  0.000004  0.000332
3  0.005131  0.000010  0.039416  0.955420  0.000023
4  0.000013  0.000083  0.921607  0.078290  0.000007

In [590]:
sample.to_excel("sampl.xlsx", index = False)